.container {
    position: relative;
    overflow: hidden;
}

.container .lobbiTitle {
    width: 100%;
    color: var(--red-color);
}

.lobbiText {
    font-size: 24px;
    color: var(--black-main-color);
}

.deckBlock {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 120px;
}

.deckText {
    color: var(--red-color);
}

.lobbiCircle {
    position: absolute;
    width: 100px;
    height: 130px;
    bottom: 0;
    left: 0;
}