.container {
    position: relative;
    overflow: hidden;
    padding: 10px 20px 50px 20px;
}

.container .lobbiTitle {
    width: 100%;
    color: var(--red-color);
}

.lobbiText {
    font-size: 24px;
    color: var(--black-main-color);
}

.deckBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 120px;
}

.deckText {
    color: var(--red-color);
}

.lobbiCircle {
    position: absolute;
    width: 430px;
    height: 430px;
    bottom: -30%;
    left: -60%;
}