.deckSwiper {
    max-width: 480px;
    height: 200px;
}
  
.deckSwiperSlide {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deckSwiperSlide {
    width: 200px; 
  }
  
  .deskSlideItem {
    width: 100%;
    height: 200px; 
    border-radius: 8px;
  }
  
  .deckIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }