.container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.content {
    width: 480px;
    height: 570px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-main-color);
    border-radius: 36px;
    z-index: 3;
}

.closedPlace {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}