.container {
    position: fixed;
    display: flex;
    align-items: center;
    inset: 0;
    justify-content: center;
    padding: 16px;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 1000;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.content {
    width: min(480px, 100%);
    max-height: calc(100dvh - 32px);
    display: flex;
    flex-direction: column;
    background-color: var(--white-main-color);
    border-radius: 36px;
    overflow: hidden;
    z-index: 3;
}

.closedPlace {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
