.container {
    min-width: 480px;
    position: relative;
    overflow: hidden;
    background-color: var(--red-color);
    padding: 0;
    padding-left: 20px;
    height: 100vh;
}

.header {
    padding-top: 10px;
}

.title {
    font-size: 87px;
    color: var(--white-main-color);
}

.waitingIcon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 295px;
    height: 490px;
}

.waitingCircle {
    position: absolute;
    bottom: 80px;
    right: -5px;
}

.waitingText {
    position: absolute;
    bottom: 50px;
    right: 65px;
    color: var(--white-main-color);
    max-width: 120px;
}