.titleLarge {
    font-size: 87px;
    color: #121212;
}

.titleMiniLarge {
    font-size: 76px;
    color: #121212;
}

.titleMedium {
    font-size: 48px;
    color: #121212;
}

.body {
    font-size: 28px;
    color: #121212;
}

.text {
    font-size: 24px;
    color: #121212;
}

.caption {
    font-size: 14px;
    color: #121212;
}