.settingsBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.circleIcon {
    width: 31vh;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    max-width: 40vh;
    max-height: 189px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.homeBtn {
    margin-bottom: 20px;
}

.connectBtn {
    margin-bottom: auto;
}

.bgImage {
    max-width: 400px;
    max-height: 45vh;
}

.bgBlock {
    position: relative;
}

.profileLink {
    width: 50px;
    height: 57px;
    top: 15vh;
}

.profileLink img {
    height: 7vh;
}

.rulesLink {
    bottom: 11vh;
    width: 48px;
    height: 60px;
}

.rulesLink img {
    height: 7vh;
}