.settingsBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.circleIcon {
    width: 31vh;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    max-width: 40vh;
    max-height: 189px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.homeBtn {
    margin-bottom: 20px;
}

.connectBtn {
    margin-bottom: auto;
}

.bgImage {
    width: 100%;
    height: auto;
    display: block;
}

.bgBlock {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
}

.profileLink {
    width: 11%;
    top: 35%;
    right: 18%;
}

.profileLink img {
    width: 100%;
    height: auto;
}

.rulesLink {
    width: 11%;
    bottom: 25%;
    right: 18%;
}

.rulesLink img {
    width: 100%;
    height: auto;
}
