.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    color: var(--red-color);
    margin-bottom: 8vh;
}

.lobbyInput {
    margin-bottom: 3vh;
}

.connectBtn {
    margin-bottom: 9vh;
}

.circleIcon {
    position: absolute;
    width: 100%;
    height: 15vh;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(180deg);
}