.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1;
    padding: 35px 40px;
    padding-bottom: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    max-width: 400px;
    font-size: 87px;
    color: var(--red-color);
}

.choosingBtns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}