.swiper {
  width: 100%;
  height: 100px;
}

.swiperSlide {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideItem {
  font-size: 76px;
  color: #121212;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
