.title {
    color: var(--red-color);
}

.answersText {
    margin-bottom: 30px;
}

.answersPlayers {
    height: 100%;
    overflow: scroll;

    /* Скрыть скроллбар для Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрыть скроллбар для Firefox */
    scrollbar-width: none;

    /* Скрыть скроллбар для IE, Edge */
    -ms-overflow-style: none;
}

.bottomBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
}

.nextBtn {
    color: var(--red-color);
    padding-left: 60px;
}

.time {
    padding-right: 60px;
}