.header {
    margin-bottom: 70px;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
}

.title {
    margin-bottom: 20px;
}

.titleItem {
    color: var(--red-color);
}