.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleItem {
    color: var(--red-color);
}

.liarPlayer {
    margin-bottom: 30px;
}

.questionLiar {
    margin-bottom: 11vh;
}