.lobbyStyle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.questionsText {
    max-width: 170px;
    flex: 0 0 auto;
}

.scrollerType {
    padding-bottom: 0;
    line-height: 1;
    min-width: 1ch;
    display: flex;
    align-items: center;
}
