.typographyBase {
    color: var(--black-main-color);
    font-family: 'CodeProBoldLC';
  }
  
  .titleLarge {
    font-size: clamp(64px, 10vw, 104px);
  }
  
  .titleMiniLarge {
    font-size: clamp(54px, 8.5vw, 88px);
  }
  
  .titleMedium {
    font-size: clamp(42px, 6.8vw, 72px);
  }
  
  .body {
    font-size: clamp(24px, 3.9vw, 36px);
  }
  
  .text {
    font-size: clamp(20px, 3.2vw, 32px);
  }
  
  .caption {
    font-size: clamp(12px, 1.9vw, 18px);
  }
