.typographyBase {
    color: var(--black-main-color);
    font-family: 'CodeProBoldLC';
  }
  
  .titleLarge {
    font-size: 12vh;
  }
  
  .titleMiniLarge {
    font-size: 10vh;
  }
  
  .titleMedium {
    font-size: 8vh;
  }
  
  .body {
    font-size: 4vh;
  }
  
  .text {
    font-size: 3.5vh;
  }
  
  .caption {
    font-size: 2vh;
  }

@media (min-height: 750px) {
  .titleLarge {
    font-size: 10vh;
  }
  
  .titleMiniLarge {
    font-size: 8vh;
  }
  
  .titleMedium {
    font-size: 6.5vh;
  }
  
  .body {
    font-size: 3.5vh;
  }
  
  .text {
    font-size: 3vh;
  }
  
  .caption {
    font-size: 1.5vh;
  }
}