.typographyBase {
    color: var(--black-main-color);
    font-family: 'CodeProBoldLC';
  }
  
  .titleLarge {
    font-size: 87px;
  }
  
  .titleMiniLarge {
    font-size: 76px;
  }
  
  .titleMedium {
    font-size: 48px;
  }
  
  .body {
    font-size: 28px;
  }
  
  .text {
    font-size: 24px;
  }
  
  .caption {
    font-size: 14px;
  }