.content {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.userPhotoBlock {
    position: relative;
}

.userPhoto, .default .userPhoto {
    width: 7vh;
    height: 7vh;
    border-radius: 1.3vh;
}

.large .userPhoto {
    width: 83px;
    height: 83px;
}

.medium .userPhoto {
    width: 70px;
    height: 70px;
}

.userPhotoOutline {
    outline: 0.4vh solid var(--red-color);
}

.content .currentUser {
    color: var(--red-color);
}

.hornsImg {
    position: absolute;
    width: 100%;
    height: 22px;
    top: -22px;
    left: 0;
    z-index: -1;
}

.large .username {
    font-size: 4vh;
}

@media (min-height: 700px) {
    .large .username {
        font-size: 3vh;
    }
}

.medium .username {
    font-size: 20px;
}