.content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userPhotoBlock {
    position: relative;
}

.userPhoto, .default .userPhoto {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.large .userPhoto {
    width: 83px;
    height: 83px;
}

.medium .userPhoto {
    width: 70px;
    height: 70px;
}

.userPhotoOutline {
    outline: 3px solid var(--red-color);
}

.hornsImg {
    position: absolute;
    width: 100%;
    height: 22px;
    top: -22px;
    left: 0;
    z-index: -1;
}

.large .username {
    font-size: 28px;
}

.medium .username {
    font-size: 20px;
}