.wrapper {
    position: relative;
    display: block;
    max-width: 200px;
}

.input {
    text-align: center;
    max-width: 100%;
    padding: 0;
    outline: none;
    position: relative;
    font-family: 'CodeProBoldLC';
    font-size: 28px;
    color: var(--black-main-color);
    border: none;
    text-transform: uppercase;
}

.input::placeholder {
    color: var(--black-main-color);
    opacity: 1;
}

.wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 10px;
    background: var(--red-color);
    clip-path: ellipse(50% 30% at 50% 50%);
}