.container {
    background-color: var(--red-color);
    align-items: flex-start;
}

.header {
    padding-top: 10px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.subtitle {
    color: var(--white-main-color);
    margin-bottom: 2.5vh;
}

.rulesText {
    max-height: 46vh;
    overflow-y: auto;
    padding-right: 8px;
    color: var(--white-main-color);
    width: 100%;
    line-height: 1.2;

    /* Скрыть скроллбар для Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрыть скроллбар для Firefox */
    scrollbar-width: none;

    /* Скрыть скроллбар для IE, Edge */
    -ms-overflow-style: none;
}

.section {
    margin-bottom: 16px;
}

.sectionTitle {
    color: var(--white-main-color);
    margin-bottom: 8px;
}

.paragraph {
    color: var(--white-main-color);
    font-family: 'CodeProLC';
    margin: 0;
}

.list {
    margin: 0;
    padding-left: 18px;
    color: var(--white-main-color);
    font-family: 'CodeProLC';
}

.list li {
    margin-bottom: 6px;
}

.rulesIconBlock {
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.rulesIcon {
    width: min(28vh, 220px);
}

@media (max-width: 370px) {
    .title {
        font-size: 76px;
    }
}
