.container {
    background-color: var(--red-color);
    align-items: flex-start;
}

.header {
    padding-top: 10px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
}

.title {
    font-size: 87px;
    color: var(--black-main-color);
}

.subtitle {
    font-size: 48px;
    color: var(--white-main-color);
    margin-bottom: 50px;
}

.rulesText {
    font-size: 28px;
    color: var(--white-main-color);
}

.rulesIconBlock {
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.rulesIcon {
    width: 250px;
    height: 250px;
}

@media (max-width: 370px) {
    .title {
        font-size: 76px;
    }
}