.container {
    background-color: var(--red-color);
    align-items: flex-start;
}

.header {
    padding-top: 10px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.subtitle {
    color: var(--white-main-color);
    margin-bottom: 50px;
}

.rulesText {
    max-height: 300px;
    overflow: scroll;
    color: var(--white-main-color);

    /* Скрыть скроллбар для Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрыть скроллбар для Firefox */
    scrollbar-width: none;

    /* Скрыть скроллбар для IE, Edge */
    -ms-overflow-style: none;
}

.rulesIconBlock {
    padding-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.rulesIcon {
    width: 250px;
    height: 250px;
}

@media (max-width: 370px) {
    .title {
        font-size: 76px;
    }
}