.content {
    display: flex;
    gap: 20px;
}

.lobbyContent {
    justify-content: space-between;
    flex-wrap: wrap;
}

.answersContent {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

.resultsContent {
    align-items: center;
    margin-bottom: 0;
}

.limitedBlock {
    overflow: scroll;

    /* Скрыть скроллбар для Chrome, Safari, Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Скрыть скроллбар для Firefox */
    scrollbar-width: none;

    /* Скрыть скроллбар для IE, Edge */
    -ms-overflow-style: none;
}

.resultPlayers {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    height: 70vh;
}

.userContent {
    width: 45%;
}

.userContent:nth-child(2n) {
    justify-content: flex-end;
}

.playerBlock {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.resultsBlock {
    justify-content: unset;
    gap: 30px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.content .resultTask {
    width: calc(100% - 40px);
    font-size: 14px;
    padding-bottom: 5px;
    margin-top: 1vh;
    animation: fadeIn 0.5s ease forwards;
}

.resultPlace {
    display: flex;
    width: 50px;
    color: var(--red-color);
    justify-content: center;
}

.content .believeText {
    color: var(--red-color);
}

.ratePlayers {
    max-height: 100%;
    padding: 5px;
}

@media(max-width: 370px) {
    .lobbyContent .userContent {
        width: 100%;
        justify-content: unset;
    }
}