.content {
    cursor: pointer;
}

.check {
    display: none;
}

.checkmark {
    border-radius: 10px;
    display: inline-block;
    width: 7vh;
    height: 7vh;
    outline: 0.4vh solid var(--black-main-color);
}

.check:checked + .checkmark {
	background-image: url('../../../../../public/icons/checkedIcon.svg');
	background-repeat: no-repeat;
	background-position: center center;
}