.content {
    cursor: pointer;
}

.check {
    display: none;
}

.checkmark {
    border-radius: 10px;
    display: inline-block;
    width: clamp(50px, 12vw, 70px);
    height: clamp(50px, 12vw, 70px);
    outline: 3px solid var(--black-main-color);
}

.check:checked + .checkmark {
	background-image: url('../../../../../public/icons/checkedIcon.svg');
	background-repeat: no-repeat;
	background-position: center center;
}
