.content {
    cursor: pointer;
}

.check {
    display: none;
}

.checkmark {
    border-radius: 10px;
    display: inline-block;
    width: 58px;
    height: 58px;
    outline: 3.5px solid var(--black-main-color);
}

.check:checked + .checkmark {
	background-image: url('../../../../../public/icons/checkedIcon.svg');
	background-repeat: no-repeat;
	background-position: center center;
}