@font-face {
	font-family: 'CodeProBoldLC';
	src: local("CodeProBoldLC"),
	url(".././../../../public/fonts/CodeProBoldLC.woff2") format('woff2'),
	url(".././../../../public/fonts/CodeProBoldLC.woff") format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}