.content {
    cursor: pointer;
}

.check {
    display: none;
}

.checkmark {
    border-radius: 10px;
    display: inline-block;
    width: 58px;
    height: 58px;
    outline: 3.5px solid #121212;
}

#checkbox__check:checked ~ .checkmark {
	background-image: url('../../../assets/checkedIcon.svg');
	background-repeat: no-repeat;
	background-position: center center;
}