.deckPopupContent {
    width: 380px;
    height: 540px;
    padding: 20px 50px;
}

.title {
    width: 100%;
    text-align: center;
    color: var(--red-color);
    margin-bottom: 15px;
}

.title {
    color: var(--red-color);
}

.deckParams {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dataDeck {
    margin-top: 60px;
}

.leavePopupContent {
    width: 350px;
    padding: 0 65px;
    justify-content: center;
}

.red {
    background-color: var(--red-color);
}

.red .leaveTitle {
    color: var(--white-main-color);
}

.leaveTitle {
    margin-bottom: 80px;
}

.leaveText {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.leaveBtns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.developer {
    width: 430px;
    height: 480px;
    padding: 45px 26px;
}

.developerBlock {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.developerIcon {
    margin-right: 25px;
    border-radius: 10px;
}

.developerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.developerDescr {
    margin-bottom: 20px;
}

.developerLink {
    font-size: 14px;
}