:root {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}
