.content {
  max-width: 100%;
}

.deckSwiper {
    max-width: 100%;
}
  
.deckSwiperSlide {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deckSwiperSlide {
    width: 200px; 
  }
  
  .deckSlideItem {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .deckIcon {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }