.container {
    background-color: var(--black-main-color);
}

.contentStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 60%;
    flex: 1;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.sounds {
    gap: 75px;
    margin-bottom: 65px;
}

.soundImg {
    width: 57px;
    height: 83px;
}

.musicImg {
    width: 65px;
    height: 65px;
}

.languageBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.content .settingsText {
    color: var(--white-main-color);
    z-index: 2;
}

.volume {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 65px;
}

.helpBtn {
    margin-bottom: 60px;
}

.settingsBg {
    width: 380px;
    height: 330px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 450px) {
    .content {
        width: 100%;
    }
}