.container {
    background-color: var(--black-main-color);
}

.contentStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 60%;
    padding-top: 3vh;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.sounds {
    gap: 75px;
    margin-bottom: 6vh;
}

.soundImg {
    width: 7vh;
}

.musicImg {
    width: 9vh;
}

.languageBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;
}

.content .settingsText {
    color: var(--white-main-color);
    z-index: 2;
}

.volume {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 7vh;
}

.helpBtn {
    margin-bottom: 6vh;
}

.settingsBg {
    width: 37vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 450px) {
    .content {
        width: 100%;
    }
}