.container {
    min-width: 480px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: var(--black-main-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px;
    padding-top: 100px;
    padding-bottom: 280px;
}

.header {
    display: flex;
    align-items: flex-start;
}

.sounds {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-bottom: 65px;
}

.soundImg {
    width: 57px;
    height: 83px;
}

.musicImg {
    width: 65px;
    height: 65px;
}

.languageBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.settingsText {
    font-size: 28px;
    color: var(--white-main-color);
    z-index: 2;
}

.volume {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 65px;
}

.helpBtn {
    margin-bottom: 60px;
}

.settingsBg {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -16%;
    right: -21%;
}